sudo: required
dist: trusty
language: ruby

before_install:
- gem install asciidoctor -v 1.5.2
- gem install tilt
- sudo pip install git+https://github.com/gitenberg-dev/gitberg
- sudo pip install git+https://github.com/gitenberg-dev/pg-epubmaker
script:
- VERSION=`ruby -e "require 'yaml'; meta = YAML.load_file('metadata.yaml'); puts meta['_version'];"`
- git clone https://github.com/gitenberg-dev/asciidoctor-htmlbook.git
- sudo pip install -r asciidoctor-htmlbook/gitberg-machine/requirements.txt

- /usr/bin/python -c "from gitenberg import travis; travis.build_epub()"
- ebook-convert book.epub book.mobi
- xvfb-run ebook-convert book.epub book.pdf
notifications:
  webhooks:
    urls:
      - https://unglue.it/api/travisci/webhook
    on_success: always
    on_failure: never
    on_start: never
deploy:
  skip_cleanup: true
  provider: releases
  api_key:
    secure: mdil1xITSGxEjSR6mTH0wHKjCBC74EcHhOjRZZMDwt6AnC/EM4iEl+8lacvsqnp9s5Q+QJylhU2cnAS/uy0/1CplCPjoHRguR2ve3Wdmb9vAJhxI9PdgTJJrecsZbQJzfCQBTikAwd7wPdToJBfNyGFdfRZPz3YuX/hvnC24pBcqW3n6RK+1sIi+npCx55XomUyS0QrcHV5B8GmCh8M/gVC+tGGOJkPncSzR6aGoVRMPjfjCC6+t13H963s5odF5eu5x6DgJYy9tEQ98y9HxGrwcL6tjn2BIyBg502Z4f+0kVrKkspqq0NbMZzb5iXvFgdz/6eYhBl2dlLB+kF/aRapHq8eOtX0d7JXNWui7dTeO4p7rihqhBitYIJ+Yqa8egzyCeALzakLAhp5VGxDD0Zpl9yZSO1iVU/VVwekVoJLg8WjD4BIzHK9PmIu6TCSRnww4aVbw++BYgUHLSCULQ9kfTr2idbg5RwnXiqBAy26/wNlQm3UjpREY8EfBRK5waHihExee6cDCCIGEEjRZqgyhkKN6lmqbb5UVHFQztKrd7Vm1rH/xyNt9FUEN8EMc/yy3BGBTzwTZUOzD/VTqkdR9sWE6GNulwhKksxXDUNcJd/hArJtq5bf+ubU3a7UlDB1/RgsrGm3iX16OMeOxSyxLJfoRrmDDmPvAhXyol0A=
  file:
    - book.epub
    - book.mobi
    - book.pdf
  on:
    repo: GITenberg/Reina-Valera-New-Testament-of-the-Bible-1602-Book-of-Matthew_5877
    tags: true
addons:
  apt:
    packages:
    - xsltproc
    - xvfb
    - calibre
    - python-pip
    - git
    - python-dev
    - libjpeg-dev
    - libpng-dev
    - libfreetype6
    - libfreetype6-dev
    - zlib1g-dev
    - python-lxml
    - libxml2-dev
    - libxslt1-dev
    - tidy